
<h1>
  Books To Read
</h1>

<table>
  <thead>
    <th>Date</th>
    <th>Book</th>
  </thead>
  <tbody>
    <% @books.each do |book_record| %>
      <tr>
        <td><%= book_record[0] %></td>
        <td><%= uri_link_to(book_record[1], book_record[2]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
