
      <div class="nested-form-wrapper" data-new-record="true">
        <%= f.label :description %>
        <%= f.text_field :description %>

        <button type="button" data-action="nested-form#remove">Remove todo</button>

        <%= f.hidden_field :_destroy %>
      </div>
