<%= form_with(method: :patch, data: { controller: 'uri-margin' }) do |form| %>
  <%= turbo_frame_tag(:uri_index) do %>
    <div>
      <%= form.submit('Save') %>
      <%= link_to("Cancel", uri_path(@href)) %>
    </div>
    <div>
      <%= @index.content_type %>
    </div>
    <div>
      <%= form.text_area(:index_markdown, value: @index.source, cols: 80, rows: 30) %>
    </div>
    <div>
      <%= form.submit('Save') %>
      <%= link_to("Cancel", uri_path(@href)) %>
    </div>
  <% end %>
<% end %>
