<h1>
  <ol>
    <li><%= link_to('URI/URL', uri_index_path) %></li>
    <li><%= link_to(html_escape(@href), uri_path(@href)) %></li>
  </ol>
</h1>
<section>
  <dl>
    <dt>URI:</dt>
    <dd><%= link_to(html_escape(@href), @href.to_s) %></dd>

    <%= form_with(method: :patch, data: { controller: 'uri-margin' }) do |form| %>
      <dt>Title:</dt>
      <dd>
        <td><%= form.text_field(:title, value: html_escape(@title)) %></td>
      </dd>

      <dt>Tag Year:</dt>
      <dd><%= @tag_year %></dd>
      <dt>Tags:</dt>
      <dd>
        <table>
          <thead>
            <tr>
              <th>Key</th>
              <th>Value</th>
              <th></th>
            </tr>
          </thead>
          <tbody data-uri-margin-target="tbody">
            <% @tags.each do |tag| %>
              <tr>
                <td><%= form.text_field(
                  :'key[]',
                  value:    html_escape(tag.first),
                  autofill: false,
                  data:     {
                    'uri-margin-target': 'key'
                  }
                ) %></td>
                <td><%= form.text_field(
                  :'value[]',
                  value:    html_escape(tag.last),
                  autofill: false
                ) %></td>
                <td><%= form.button(
                  'X',
                  type:     :button,
                  tabindex: -1,
                  data:     { action: 'click->uri-margin#delete' }
                ) %></td>
              </tr>
            <% end %>
            <tr>
              <td><%= form.text_field(
                :'key[]',
                autofocus: true,
                autofill:  false,
                data:      {
                  action:              'keydown.enter->uri-margin#add:prevent',
                  'uri-margin-target': 'key'
                }
              ) %></td>
              <td><%= form.text_field(
                :'value[]',
                autofill: false,
                data:     { action: 'keydown.enter->uri-margin#add:prevent' }
              ) %></td>
              <td><%= form.button(
                'X',
                type:     :button,
                tabindex: -1,
                data:     { action: 'click->uri-margin#delete' }
              ) %></td>
            </tr>
            <template data-uri-margin-target="template">
              <tr>
                <td><%= form.text_field(
                  :'key[]',
                  tabindex: 0,
                  autofocus: true,
                  autofill:  false,
                  data:      {
                    action:              'keydown.enter->uri-margin#add:prevent',
                    'uri-margin-target': 'key'
                  }
                ) %></td>
                <td><%= form.text_field(
                  :'value[]',
                  autofill: false,
                  data:     { action: 'keydown.enter->uri-margin#add:prevent' }
                ) %></td>
                <td><%= form.button('X', type: :button, data: { action: 'click->uri-margin#delete' }, tabindex: -1) %></td>
              </tr>
            </template>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">
                <%= form.button(
                  '+',
                  type:     :button,
                  tabindex: -1,
                  data:     { action: 'click->uri-margin#add' }
                ) %>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <%= form.submit('Save tags') %>
              </td>
            </tr>
          </tfoot>
        </table>
      </dd>
      <dt>Index</dt>
      <dd>
        <%= turbo_frame_tag(:uri_index) do %>
          <%= link_to('Edit', edit_uri_path(@href)) %>
          <!-- <%= form.text_area(:index_markdown, value: @index_markdown_source, cols: 80, rows: 30) %> -->
          <section>
            <%= @index.html %>
          </section>
        <% end %>
      </dd>
      <!-- <%= form.submit('Save tags') %> -->
    <% end %>
    <dt>Commits</td>
    <dd>
      <ol>
        <% @commits&.each do |commit| %>
          <li><%= commit.author_date %></li>
        <% end %>
      </ol>
    </dd>

  </dl>
</section>

<section>
  <details>
    <summary>Raw</summary>
    <dl>
      <dt>URI Pathname:</dt>
      <dd>
        <ul>
          <% @uri_pathnames.each do |uri_pathname| %>
            <li><%= html_escape(uri_pathname) %></li>
          <% end %>
        </ul>
      </dd>

      <dt>Tag Pathname:</dt>
      <dd><%= html_escape(@tag_pathname) %></dd>

      <dt>Tag Source:</dt>
      <dd><pre><%= html_escape(@tag_source) %></pre></dd>

      <dt>Index Pathname:</dt>
      <dd><%= html_escape(@index_markdown_pathname) %></dt>

      <dt>Index Source:</dt>
      <dd><pre><%= html_escape(@index_markdown_source) %></pre></dd>
    </dl>
  </details>
</section>

<% if @open_library %>
  <section>
    <h2>OpenLibrary</h2>
    <pre><%= JSON.pretty_generate(@open_library.data) %></pre>
  </section>
<% end %>
