<h1>Conjoiner</h1>
<ul>
  <li><%= link_to('URIs', uri_index_path) %></li>
</ul>
<h2>list</h2>
<ul>
  <li><%= link_to('Books Read', '/lists/books_read') %></li>

  <li><%= link_to('Books To Read', '/lists/books_to_read') %></li>
</ul>

<h2>Years</h2>
<ul>
  <% @years.each do |year| %>
    <li><%= link_to(year, "/#{year}") %></li>
  <% end %>
</ul>

<h2>Aspects</h2>
<ul>
  <% @aspects.each do |aspect| %>
    <li><%= aspect %></li>
  <% end %>
</ul>
