<h1>Wiki</h1>

<h2>Uncategorized</h2>
<ul>
  <% @wiki_pages.sort.each do |key, data| %>
    <li>
      <%= link_to(data[:frontmatter]['title'] || key, wiki_path(key)) %>
    </li>
  <% end %>
<ul>

<h2>Categories</h2>
<ul>
  <% @category_wiki_pages.sort.each do |key, data| %>
    <li>
      <%= key %>
    </li>
  <% end %>
</ul>
