<h1>
  <ol>
    <li><%= link_to('Wiki', wiki_index_path) %></li>
    <li><%= link_to(@title, wiki_path(@key)) %></li>
  </ol>
</h1>
<section>
  <p><%= @pathnames %></p>
  <div><%= @index.html %></div>
  <pre><%= @index.frontmatter %></pre>
</section>
