
<h1>
  <ol>
    <li><%= link_to(@year, "/#{@year}") %></li>
    <li><%= link_to(
      @month.to_s.rjust(2, '0'),
      "/#{@year}/#{@month.to_s.rjust(2, '0')}"
    ) %></li>
    <li>
      <%= link_to(
        @day.to_s.rjust(2, '0'),
        "/#{@year}/#{@month.to_s.rjust(2, '0')}/#{@day.to_s.rjust(2, '0')}"
      ) %>
      (<%= I18n.t('date.day_names')[@date_time.wday] %>)
    </li>
  </ol>
</h1>

<section>
  <h2>Journal</h2>
  <%= @journal.html %>
</section>

<section>
  <h2>Inbox</h2>
  <%= @inbox.html %>
</section>
