<h1>
  <ol>
    <li><%= link_to(@year, "/#{@year}") %></li>
    <li><%= link_to(@month.to_s.rjust(2, '0'), "/#{@year}/#{@month.to_s.rjust(2, '0')}") %></li>
  </ol>
</h1>

<table>
  <caption>
    <%= link_to(I18n.t('date.month_names')[@month], "/#{@year}/#{@month.to_s.rjust(2, '0')}") %>
  </caption>
  <thead>
    <tr>
      <% %w[S M T W T F S].each do |x| %>
        <th><%= x %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%
      month_date_time   = DateTime.new(@year, @month)
      beginning_of_week = month_date_time.beginning_of_month.beginning_of_week
      end_of_week       = month_date_time.end_of_month.end_of_week
      (beginning_of_week..end_of_week).each_slice(7) do |week|
    %>
      <tr>
        <% week.each do |date| %>
          <td>
            <%= link_to(
              "/#{date.year}/#{date.month.to_s.rjust(2, '0')}/#{date.day.to_s.rjust(2, '0')}"
            ) do %>
              <time datetime="<%= date.iso8601 %>"><%= date.day %></time>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
