<!DOCTYPE html>
<html>
  <head>
    <title>Cyberpomp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    -->

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- <main class="container mx-auto mt-28 px-5 flex"> -->
    <nav>
      <ul>
        <li><%= link_to('Home', root_path) %></li>
        <li><%= link_to('Wiki', wiki_index_path) %></li>
        <li>
          <%= link_to('URI', uri_index_path) %>
          (
            <%= link_to(
                'bookmarklet',
                "javascript:(function() { window.location.href = `#{uri_index_url}/${encodeURIComponent(window.location.href)}?title=${encodeURIComponent(document.title)}`;})();",
                title: 'URI Bookmarklet'
            ) %>
          )
          <%= form_with(action: uri_index_path, method: :get) do |form| %>
            <%= form.text_field(:uri) %>
            <%= form.submit('Go') %>
          <% end %>
        </li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
